<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="logs/MultiRobotSimulator.internal.log"
      internalLogLevel="Debug">

  <targets>
    <target name="logfile" xsi:type="File" fileName="logs/MultiRobotSimulator.log"
            layout="${longdate}|${pad:padding=-5:fixedLength=true:inner=${level:uppercase=true}}|${logger:shortName=true}|${message}|${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>